{
    "name": "volume-group-superfast-{{ item.split('-')[-1] }}",
    "description": "volume group superfast",
    "spec": {
        "plugin": {
            "name": "lvm",
            "config-version": "latest"
        },
        "node": "{{ item }}",
        "plugin-configuration": {
            "devices": ["nvme4n1"]
        },
        "labels": {"type": "superfast"}
    }
}