{
    "name": "{{ item }}",
    "description": "{{ item }} disks",
    "spec": {
        "provider-selector": {
            "plugin": "lvm",
            "matches": {
                "labels": {
                    "type": "superfast"
                }
            }
        },
        "mount": {
            "filesystem": "xfs"
        }
    }
}